body{
    background-color: #3cadf4;
    color: white;
}
p{
   /*  border-bottom: 2px #AEA9A9 solid ; */

}
.icons{
    padding-top: 12px;
    border-bottom: 2px #AEA9A9 solid ;
}
#twitter-profile{
    box-sizing: border-box;
    background-color: #3cadf4;
    color: white;
}
.row{
    width: 100%;
}
.column{
    border-right: 2px #AEA9A9 solid;
}

.nav-link{
    margin-right: 50px;
}
/* #mychart{
    height: 200px;
    width: 200px;
} */
.mychartdiv{
    height: 400px;
    width: 400px;
}
.cover-profile{
    width: 1519px;
    height: 200px;
    left: 0px;
    background: #D9D9D9;
}


.nav-item{
    padding-left: 10px;
}
.main-profile{
  position: absolute;
  left: 80px;
  top: 200px;
  background: #AEA9A9;
  height: 200px;
  width: 200px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
}

.tw{
padding-top: 160px;
position: absolute;

padding-left: 100px;


font-family: 'Martel Sans';
font-style: normal;
font-weight: 400;
font-size: 16px;

align-items: center;
text-align: center;
color: #000000;
}
h4{
    display: flex;
    float: left;
}
.name{
    padding-right: 180px;
}
h5{
    margin-right: 100px;
}
.twe{
    margin-right: 180px;
}
.tweets{
    padding-top: 220px;
    padding-left: 100px;

}
.navbar-nav li{
    padding-left: -20px;
}
.navbar-brand{
    font-size: 52px;
    margin-left: 20px;
    color: #ffff;
}
.nav-link{
    margin-left: 130px;
}

.main-tweets{
    box-sizing: border-box;
   /*  border-right: 1px #AEA9A9 solid; */
    margin-left: 105px;
    margin-right: -13px;
}


.main_box{
    margin-top: 210px;
    padding-left: 120px;
}
.pie{
    margin-bottom: 10px;
}






