
#twitter-profile{
    box-sizing: border-box;
}
.row{
    width: 100%;
}

.nav-link{
    margin-right: 50px;
}
/* #mychart{
    height: 200px;
    width: 200px;
} */
.mychartdiv{
    height: 400px;
    width: 400px;
}
.cover-profile{
    width: 805px;
    height: 200px;
    left: 0px;
    background: #D9D9D9;
}


.nav-item{
    padding-left: 10px;
}
.main-profile{
  position: absolute;
  left: 80px;
  top: 200px;
  background: #AEA9A9;
  height: 200px;
  width: 200px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
}

.tw{
padding-top: 160px;
position: absolute;

padding-left: 100px;


font-family: 'Martel Sans';
font-style: normal;
font-weight: 400;
font-size: 16px;

align-items: center;
text-align: center;
color: #000000;
}
h4{
    display: flex;
    float: left;
}
.name{
    padding-right: 180px;
}
h5{
    margin-right: 100px;
}
.twe{
    margin-right: 180px;
}
.tweets{
    padding-top: 260px;
    padding-left: 100px;

}
.nav-link{
    margin-left: 130px;
}

.main-tweets{
    box-sizing: border-box;
    border-top: 2px solid;
    border-right: 2px solid;
}


.main_box{
    margin-top: 150px;
    padding-left: 50px;
}
.pie{
    margin-bottom: 50px;
}






