<DOCTYPE html>
  <html lang="en">
    <head>
      <link
        rel="stylesheet"
        href="{{ url_for('static', filename='home_page.css')}}"
      />
      <link
        href="https://fonts.googleapis.com/css?family=Martel Sans"
        rel="stylesheet"
      />
      <meta charset="utf-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1" />
      <link
        rel="stylesheet"
        href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
      />
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    </head>

    <body>
      <section id="Home-page">
        <nav class="navbar navbar-inverse">
          <div class="container-fluid">
            <div class="navbar-header">
              <p>Twitter</p>
            </div>
            <ul class="navbar-side">
              <li id="hi"><a href="#Home-page">Home</a></li>
              <li><a href="#services">about</a></li>
              <li><a href="#footer">Contact us</a></li>
              <li id="hi"><a href="http://127.0.0.1:5000/predict">Predict</a></li>
            </ul>
          </div>
        </nav>
        <div class="content">
          <h1 id="con1">Share</h1>
          <h1 id="con2">love</h1>
          <h1 id="con3">Not hate</h1>
        </div>
        <form action="/twitter" method="post">
          <div>
            <div class="search_box">
              <input
                type="text"
                name="search_box1"
                placeholder="Enter the username"
                id="search_box1"
                class="twitter"
              />
            </div>
            <div class="search-btn">
              <button>search</button>
            </div>
          </div>
        </form>
      </section>

      <section id="services">
        <div class="services container">
          <div class="service-top">
            <h1 class="section-title">Test<span>i</span>monials</h1>
            <!-- <p>Our testimonials</p> -->
          </div>
          <div class="service-bottom">
            <div class="service-item">
              <div class="icon"></div>
              <h2>Review</h2>
              <p>
                Fantastic, I'm totally blown away by Toxic comment classification.
              </p>
            </div>
            <div class="service-item">
              <div class="icon"></div>
              <h2>Review</h2>
              <p>
                This is unbelievable
              </p>
            </div>
            <div class="service-item">
              <div class="icon"></div>
              <h2>Review</h2>
              <p>
                I can't say enough about toxic comments classification. Thanks for the great service. Not able to tell you how happy I am with toxic comments classification. I like toxic comments classification more and more each day because it makes my life a lot easier.. From Sahil J
              </p>
            </div>
          </div>
        </div>
        <footer id="footer">
          <hr />
          <div class="row text-center">
            <div class="col-md-6">
              <p>Toxic comment classification</p>
            </div>
            <div class="col-md-6 text-center">
              <ul class="social-icons">
                <p>Contact us:</p>
              </ul>
            </div>
          </div>
        </footer>
      </section>
    </body>
  </html>
</DOCTYPE>
