<DOCTYPE html>
  <html lang="en">
    <head>
      <link
        rel="stylesheet"
        href="{{ url_for('static', filename='home_page.css')}}"
      />
      <link
        href="https://fonts.googleapis.com/css?family=Martel Sans"
        rel="stylesheet"
      />
      <meta charset="utf-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1" />
      <link
        rel="stylesheet"
        href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
      />
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    </head>

    <body>
      <section id="Home-page">
        <nav class="navbar navbar-inverse">
          <div class="container-fluid">
            <div class="navbar-header">
              <p>Twitter</p>
            </div>
            <ul class="navbar-side">
              <li id="hi"><a href="#Home-page">Home</a></li>
              <li><a href="#services">about</a></li>
              <li><a href="#footer">Contact us</a></li>
            </ul>
          </div>
        </nav>
        <div class="content">
          <h1 id="con1">Share</h1>
          <h1 id="con2">love</h1>
          <h1 id="con3">Not hate</h1>
        </div>
        <div>
          <div class="search_box">
            <input
              type="text"
              placeholder="Enter the username"
              id="search_box1"
            />
          </div>
          <div class="search-btn">
            <button>search</button>
          </div>
        </div>
      </section>

      <section id="services">
        <div class="services container">
          <div class="service-top">
            <h1 class="section-title">Test<span>i</span>monials</h1>
            <!-- <p>Our testimonials</p> -->
          </div>
          <div class="service-bottom">
            <div class="service-item">
              <div class="icon"></div>
              <h2>Generate Weak Password</h2>
              <p>
                Use our online service to instantly generate Weak level
                passwords. <br />Weak passwords uses only a combination of
                letters and numbers to form a string of characters that doesn't
                resemble words or names. <br />
                Unique: A weak password is smaller and often easier to remember.
              </p>
            </div>
            <div class="service-item">
              <div class="icon"></div>
              <h2>Generate Medium level Password</h2>
              <p>
                Use our online service to instantly generate Medium level
                passwords. <br />
                Random: Medium passwords uses only a combination of letters,
                numbers to form a string of characters and symbols that doesn't
                resemble words or names. <br />
                Unique: Medium passwords are smaller and often easier to
                remember.
              </p>
            </div>
            <div class="service-item">
              <div class="icon"></div>
              <h2>Generate strong Password</h2>
              <p>
                Use our online service to instantly generate Medium level
                passwords. <br />
                Strong passwords use a combination of letters, numbers, cases,
                and symbols to form an unpredictable string of characters.
                <br />
                Unique: A strong password should be unique to each account to
                reduce vulnerability in the event of a hack.
              </p>
            </div>
          </div>
        </div>
        <footer class="footer">
          <hr />
          <div class="row text-center">
            <div class="col-md-6">
              <p>Toxic comment classification</p>
            </div>
            <div class="col-md-6 text-center">
              <ul class="social-icons">
                <p>Contact us:</p>
              </ul>
            </div>
          </div>
        </footer>
      </section>
    </body>
  </html>
</DOCTYPE>
